* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.test{
    background-color: honeydew;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.start{
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}